= form_tag({:controller => "session", :action => "create"}, :method => "post", :class=>'form-inline') do
  = label_tag 'session_code', 'Please enter your code:'
  = text_field 'session', 'code', :class=>'input-small'
  = submit_tag('Go', :class=>'btn')
