.jumbotron
  %h1 Andrew & Wing are getting married on 04 June 2013

.featurette
  %h3 Hello family and friends!
  %p We are so happy and excited to share our special day with you! We have created this website to keep everyone updated with the information that will be useful while we plan our wedding. We have people scattered all over the country, and we know you all have busy lives. It means so much to have all of our family and friends loving and supporting us.
  %p We look forward to seeing you on 4th June!
  %p
    Love,
    %br
    Andrew & Wing
    %br
    XX Days Until Wedding