%h1 Venue

%svg:svg{:height => "0"}
  %svg:mask#m1{:maskcontentunits => "objectBoundingBox", :maskunits => "objectBoundingBox"}
    %svg:lineargradient#g{:gradientunits => "objectBoundingBox", :x2 => "0", :y2 => "1"}
      %svg:stop{:offset => "0", "stop-color" => "white"}/
      %svg:stop{:offset => "1", "stop-color" => "white", "stop-opacity" => "0"}/
    %svg:circle#circle{:cx => "0.25", :cy => "0.25", :fill => "white", :r => "0.25"}/
    %svg:rect{:fill => "url(#g)", :height => "0.8", :width => "0.5", :x => "0.5", :y => "0.2"}/

.map
  #map-canvas

%h2 Church Ceremony
%p Our wedding ceremony will be held at St George’s church, an exciting Anglican church in the centre of Leeds. The church is on Great George Street adjacent to Leeds General Infirmary. The main entrance to the Church is through the west doors at the top of the steps. A lift is available.
%a#pan_to_church.btn.btn_small{:href=>'#'}
  %i.icon-map-marker
  View on map
%a.btn.btn_small{:target=>'_blank', :href=>"https://maps.google.co.uk/maps?q=St+George's+Church,+Great+George+Street,+Leeds,+Leeds&hl=en&ll=53.801753,-1.553364&spn=0.007299,0.021136&sll=53.801475,-1.553879&sspn=0.007299,0.021136&oq=St+George's&t=h&hq=St+George's+Church,&hnear=Great+George+St,+Leeds,+United+Kingdom&z=16"}
  %i.icon-share-alt

%h2 Banquet
%p In Chinese Culture, a marriage is considered the joining of two families. Thus the parents of the bride and groom get involved in their wedding planning, and invite their friends and family to celebrate the marriage of their children. We will have our Chinese banquet at the Maxi’s restaurant in Leeds, serving exquisite Cantonese & Peking cuisine.
%a#pan_to_banquet.btn.btn_small{:href=>'#'}
  %i.icon-map-marker
  View on map
%a.btn.btn_small{:target=>'_blank', :href=>"https://maps.google.co.uk/maps?q=Maxi%E2%80%99s+restaurant+in+Leeds&hl=en&ie=UTF8&ll=53.802552,-1.562462&spn=0.014598,0.042272&sll=53.801753,-1.553364&sspn=0.007299,0.021136&t=h&hq=maxi's+restaurant&hnear=Leeds,+West+Yorkshire,+United+Kingdom&z=15"}
  %i.icon-share-alt

%h2 Evening Do
%p In the evening, we will have a buffet & roast hog meal at Holiday Inn Leeds – Bradford, a hotel set in the quaint village of Tong in an ivy-clad former vicarage bordered with pretty gardens. Our theme is Masquerade ball, bring your favourite mask, let’s party!
%a#pan_to_evening.btn.btn_small{:href=>'#'}
  %i.icon-map-marker
  View on map
%a.btn.btn_small{:target=>'_blank', :href=>'https://maps.google.co.uk/maps?q=Holiday+Inn+tong&hl=en&sll=53.786749,-1.614176&sspn=0.058416,0.169086&t=h&hq=Holiday+Inn&hnear=Tong,+West+Yorkshire,+United+Kingdom&z=16'}
  %i.icon-share-alt
