- model_class = Rsvp
.page-header
  %h1
    RSVP
  %p.lead 
    Your presence at our wedding is present enough! But if we're honoured with a gift from you, may we respectfully request a gift of contribution to help the dream of our honeymoon come true. You could follow the link to the&nbsp;
    =link_to 'Trailfinders site', 'https://secure.trailfinders.co.uk/WeddingListService/contribute/WedGiftform.jsp' 
    %span>. The reference number is&nbsp; 
    %strong 5BAZ3P
    %span>. Many thanks!

= render :partial => "form"