- model_class = Rsvp
.page-header
  %h1
    RSVP
  %p.lead Your presence at our wedding is present enough! But if we're honoured with a gift from you, may we respectfully request a gift of money to help the dream of our honeymoon come true!
= render :partial => "form"