@import 'bourbon';

.test_image{
  min-height: 200px;
  min-width: 200px;
  background-color: gray;
}

/* Taken from http://www.zurb.com/article/305/easily-turn-your-images-into-polaroids-wi */
ul#gallery{
  margin: 30px 0;
  list-style: none;
  padding-left: 0;
  li{
    display: inline-block;
    @include transition (width 1s ease-in 5s, height 1s ease-in 5s, opacity 1s ease-out);

    &.cat_live a .test_image{background-color: green;}
    &.cat_laugh a .test_image{background-color: yellow;}
    &.cat_love a .test_image{background-color: red;}

    &.hideyness{
      opacity: 0;
      height: 0;
      width: 0;
      overflow: hidden;
    }

    &:nth-child(even) a {
      @include transform(rotate(2deg));
    }
    &:nth-child(3n) a {
      @include transform(none);
      position: relative;
      top: -5px;
    }

    &:nth-child(5n) a {
      @include transform(rotate(5deg));
      position: relative;
      right: 5px;
    }

    &:nth-child(8n) a {
      position: relative;
      top: 8px;
      right: 5px;
    }

    &:nth-child(10n) a {
      @include transform(rotate(1deg));
      position: relative;
      top: 3px;
      left: -5px;
    }
    a{
      @include transform(rotate(-2deg));
      @include transition (all 0.75s ease-in-out);
      @include box-shadow(2px 2px 10px rgba(0,0,0,.8));
      padding: 13px;
      background-color: white;
      display: block;
      text-align: center;
      line-height: 3;
      color: black;
      text-decoration: none;
      &:after{
        content: attr(title);
      }
      &:hover{
        @include transform(scale(1.25));
        position: relative;
        z-index: 5;
      }
      &.open{
        @include transform(scale(2));
        position: relative;
        z-index: 5;
      }
    }

  }
}


